{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}{% if object %}Edit user{% else %}Create new user{% endif %}{% endblock %}
{% block page_title %}{% if object %}Edit "{{ object.username }}"{% else %}Create new user{% endif %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form role="form" action="" method="post">{% csrf_token %}
            {{ form|bootstrap }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}