{% extends 'base.html' %}
{% block title %}About {{ object.username }}{% endblock %}
{% block page_title %}About {{ object.username }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <ul class="list-unstyled">
            <li>Username: {{ object.username }}</li>
            <li>E-mail: {{ object.email|default:"not set" }}</li>
            <li>Date joined: {{ object.date_joined }}</li>
            <li>Birthday: {{ object.profile.birth_date }}</li>
            <li>First Name: {{ object.first_name|default:"not set" }}</li>
            <li>Last Name: {{ object.last_name|default:"not set" }}</li>
        </ul>
    </div>
</div>
{% endblock %}