{% extends 'base.html' %}
{% block title %}Delete confirmaion{% endblock %}
{% block page_title %}Are you sure you want to delete "{{ object.username }}"?{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form action="" method="post">{% csrf_token %}
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-lg btn-block">Confirm</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}